<body>
    <div class="loading">
        <div class="loading-text">
            <span class="loading-text-words">C</span>
            <span class="loading-text-words">R</span>
            <span class="loading-text-words">Y</span>
            <span class="loading-text-words">P</span>
            <span class="loading-text-words">T</span>
            <span class="loading-text-words">O</span>
            <span class="loading-text-words">X</span>
            <br>
            <button class="button" mat-raised-button routerLink="/login">Login</button>

        </div>
    </div>
</body>